---
layout: layouts/base.njk
eleventyNavigation:
  key: Articles
  order: 2
---

<h1>Things I thought were important.</h1>

<li
    <li>
        <a href="https://www.effectivealtruism.org/articles/introduction-to-effective-altruism">
            Introduction to Effective Altruism
        </a>
    </li>
</ul>