---
layout: layouts/base.njk
eleventyNavigation:
  key: Books
  order: 3
---

<h1>Books I found meaning in.</h1>

<li
    <li>
        <a href="https://www.goodreads.com/book/show/52575747-zen-and-the-art-of-saving-the-planet">
            Zen and the Art of Saving the Planet
        </a>
    </li>
    <li>
        <a href="https://www.goodreads.com/book/show/3228917-outliers">
            Malcolm Gladwell - Outliers
        </a>
    </li>
</ul>