---
layout: layouts/base.njk
eleventyNavigation:
  key: "Home"
  order: 1
---

<div class="hero-container">
  <div class="full-width-image">
    <img src="../public/img/ocean_paddle.jpg" alt="Ocean" style="width: 100%; height: 70vh; display: block; margin: 0; border-radius: 0;"/>
  </div>
  <div class="message-box hero-content">
    <ol>
      <h1>Welcome to my digital garden 🌱 </h1>

      {# <img src="../public/img/pre_surf.jpg" alt="Baby Tom" style="max-width: 350px; display: block; margin: 2rem auto; border-radius: 12px;" /> #}

      <p>This is a space for me to dump all of the noise that is pulling me in all directions.</p>

      <p>If you're interested in what's going on in my life, follow along</p>
    </ol>
  </div>
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(3) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * latestPostsCount) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{# List every content page in the project #}
{#
<ul>
  {%- for entry in collections.all %}
  <li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
  {%- endfor %}
</ul>
#}
