---
layout: layouts/base.njk
eleventyNavigation:
  key: random
  order: 2
---

<h1>Random things I found on the internet.</h1>

<li
    <li>
        <a href="https://pudding.cool/">
            Pudding (Data Visualisation)
        </a>
    </li>
</ul>
<li
    <li>
        <a href="http://www.camtony.net/shaveme.html">
            Shave Me
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://everyuuid.com/">
            Every UUID
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://wakinglife.pt/">
            Waking Life
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://www.usgs.gov/centers/eros/earth-art-6">
            Earth as Art
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://fitzlab.shinyapps.io/cityapp/">
            What will climate feel like in 60 years?
        </a>
    </li>
</ul>