---
layout: layouts/base.njk
eleventyNavigation:
  key: random
  order: 2
---

<h1>Random things I found on the internet.</h1>

<li
    <li>
        <a href="https://pudding.cool/">
            Pudding (Data Visualisation)
        </a>
    </li>
</ul>
<li
    <li>
        <a href="http://www.camtony.net/shaveme.html">
            Shave Me
        </a>
    </li>
</ul>