---
layout: layouts/base.njk
eleventyNavigation:
  key: Sounds
  order: 2
---

<h1>Sounds that are sounding good.</h1>

<li
    <li>
        <a href="https://www.discogs.com/release/258810-Trio-El%C3%A9trico-Echo-Parcours">
            Trio Elétrico – Echo Parcours
        </a>
    </li>
</ul>