---
layout: layouts/base.njk
eleventyNavigation:
  key: Things-for-future-me
  order: 5
---

<h1>Things I hope to get to one day, until then they will live here.</h1>

<li
    <li>
        <a href="https://www.imdb.com/title/tt11937680/">
            The Velvet Queen
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://www.amazon.de/Careless-People-explosive-memoir-doesnt/dp/1035065932">
            Careless People
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://greatdebates69.podbean.com/">
            Great Debates
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://warp.net/">
            Warp Records
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://www.imdb.com/title/tt3553976/">
            Captain Fantastic
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://manchesteruniversitypress.co.uk/9781526162632/">
            The Value of a Whale
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://www.imdb.com/title/tt0468492/">
            The Host
        </a>
    </li>
</ul>
<li
    <li>
        <a href="https://www.imdb.com/title/tt11680642/">
            Pantheon
        </a>
    </li>
</ul>